@inherits LayoutComponentBase

<div class="app-header">
    <img src="assets/logos/svg/Exsitec-Logo-White-Horisontal.svg" alt="Exsitec" class="logo" />
    <div class="header-divider"></div>
    <h1>Projektverktyg</h1>
</div>

<main>
    @Body
</main>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
